<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewQuest | Create Review</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/createreview.css}" type="text/css">
</head>

<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<main>
<h1>New Review</h1>

<div id="review-form">
    <form method="post" th:action="@{/brewery/create-review}" th:object="${review}">

        <h2>Rating</h2>
        <label for="rating"></label>
        <div class= "rating" id="rating" name="rating" th:field="*{rating}">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"></label>
        </div><br><br>

        <h2>Description</h2>
        <label for="description"></label>
        <textarea id="description" placeholder="Write a review ..." name="description" rows="5" th:field="*{description}"></textarea><br><br>
        <th:block th:if="${driverCheck} == 'true'">
            <h2>Passengers</h2>
        <label for="passengers"></label>
        <input type="number" id="passengers" name="passengers" min="0" max="6" th:field="*{passengers}"><br><br>
        </th:block>

        <input type="hidden" name="breweryId" th:value="${brewId}">

        <input id="submitBtn" type="submit" value="Submit Review">
    </form>
</div>
</main>
</body>
</html>
