<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <link rel="stylesheet" th:href="@{/css/editreview.css}" type="text/css">
    <th:block th:replace="partials/Navbar :: styles"></th:block>
</head>
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div id="card-container">
    <div class="card">
        <div class="card-header">
            <h2>Edit Review</h2>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/review/{id}/edit(id=${review.user.id})}" th:method="post" th:object="${review}">
                <input type="hidden" th:field="*{breweryId}">

                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <select id="rating" name="rating" th:field="*{rating}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" th:field="*{description}"></textarea>
                </div>

                <div class="form-group">
                    <label for="passengers">Number of Passengers:</label>
                    <input type="number" id="passengers" name="passengers" min="0" th:field="*{passengers}">
                </div>

                <input type="submit" value="Submit Review">
            </form>
        </div>
    </div>
</div>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>
