<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar</title>
    <link th:fragment="styles" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style th:fragment="custom-styles">
        /* Custom CSS for horizontal navbar */
        .navbar-nav {
            display: flex;
            justify-content: space-between;
        }

        .nav-item {
            margin-right: 10px;
            display: flex;
            justify-content: center;
        }

        .nav-right a {
            margin-left: auto;
        }
        .navbar-nav .nav-link {
            color: burlywood;
        }
        nav {
            font-family: 'Rubik Dirt', cursive;
        }


    </style>

</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: black; font-family: 'Rubik Dirt', cursive">
    <a class="navbar-brand" href="/home"style="color: burlywood">BREWQUEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: burlywood">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%">
        <ul class="navbar-nav" style="width: 100%; display: flex;">
            <li sec:authorize="isAuthenticated()" class="nav-item" style=" text-align: center">
                <a class="nav-link" th:href="@{/profile/{id}(id = ${#authentication.principal.id})}"style="color: burlywood">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus"style="color: burlywood;  text-align: center">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard"style="color: burlywood;  text-align: center">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search"style="color: burlywood; margin-left: auto;  text-align: center">Search</a>
            </li>
            <li class="nav-item ml-lg-auto" id="login-logout">
                <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login"style="color: burlywood; text-align: center">Login/Signup</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post" style="display: flex; justify-content: center">
                    <button class="btn" style="margin-top: 2px; background-color: black; color: burlywood; padding-left: 0; padding-right: 0px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<th:block th:fragment="scripts">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</th:block>
</body>
</html>

