<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Driver</title>
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/editdriver.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<h1>Edit Driver's Profile</h1>

<form th:action="@{/driver/{id}/edit(id=${driver.user.id})}" th:method="post">
    <label for="carMake">Car Make:</label>
    <input type="text" id="carMake" name="carMake" required th:value="${driver.carMake}"><br><br>

    <label for="carModel">Car Model:</label>
    <input type="text" id="carModel" name="carModel" required th:value="${driver.carModel}"><br><br>

    <label for="driverLicense">Driver's License:</label>
    <input type="text" id="driverLicense" name="driversLicenseNum" required th:value="${driver.driversLicenseNum}"><br><br>

    <label for="licensePlate">License Plate:</label>
    <input type="text" id="licensePlate" name="licensePlateNum" required th:value="${driver.licensePlateNum}"><br><br>

    <button type="submit">Edit Driver</button>
</form>

<form th:action="@{/driver/{id}/delete(id=${driver.id})}" th:method="post">
    <button type="submit" class="delete-button">Delete Driver</button>
</form>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>
