<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign-up-Driver</title>
</head>
<body>
<h1>Driver Profile</h1>
<form th:action="@{/sign-up-driver}" th:method="post" th:object="${driver}">
    <label for="carMake">Car Make:</label>
    <input type="text" id="carMake" name="carMake" required th:field="*{carModel}"><br><br>

    <label for="carModel">Car Model:</label>
    <input type="text" id="carModel" name="carModel" required th:field="*{carModel}"><br><br>

    <label for="driverLicense">Driver's License:</label>
    <input type="text" id="driverLicense" name="driverLicense" required th:field="*{driversLicenseNum}"><br><br>

    <label for="licensePlate">License Plate:</label>
    <input type="text" id="licensePlate" name="licensePlate" required th:field="*{licensePlaceNum}"><br><br>

    <button type="button">Cancel</button>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>