<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BrewQuest | Signup Driver</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/signupdriver.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<h1>Driver Profile</h1>
<form id="driver" th:action="@{/signup-driver}" th:method="post" th:object="${driver}">
    <label for="carMake">Car Make:</label>
    <input type="text" id="carMake" name="carMake" required th:field="*{carMake}"><br><br>

    <label for="carModel">Car Model:</label>
    <input type="text" id="carModel" name="carModel" required th:field="*{carModel}"><br><br>

    <label for="driverLicense">Driver's License:</label>
    <input type="text" id="driverLicense" name="driversLicenseNum" required th:field="*{driversLicenseNum}"><br><br>

    <label for="licensePlate">License Plate:</label>
    <input type="text" id="licensePlate" name="licensePlateNum" required th:field="*{licensePlateNum}"><br><br>

    <p id="signup"><button  type="submit">Sign Up</button></p>

</form>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>
