<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BrewQuest | Login</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <th:block th:replace="partials/header :: font"></th:block>
</head>
<body>

<main>
<h1>BrewQuest</h1>
<section>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>
    <label for="password" id="passwordLabel">Password</label>
    <input id="password" name="password" type="password" style="margin-bottom: 15px"/>
    <input id="loginBtn" type="submit" value="Log In"/>
</form>


<h3>Not a Member?</h3>

<a th:href="@{/sign-up}">
    <button id="signupbutton">Sign-up</button>
</a>
</section>
</main>
</body>
</html>