<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BrewQuest | Signup</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/signup.css}" type="text/css">
</head>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<body>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="firstName" style="color: #D9740F">First Name</label>
    <input id="firstName" th:field="*{firstName}">

    <label for="lastName" style="color: #D9740F">Last Name</label>
    <input id="lastName" th:field="*{lastName}">

    <label for="birthDate" style="color: #D9740F">BirthDate</label>
    <input id="birthDate" th:field="*{birthDate}" />

    <label for="email" style="color: #D9740F">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="zipcode" style="color: #D9740F">Zipcode</label>
    <input id="zipcode" th:field="*{zipcode}"/>

    <label for="username" style="color: #D9740F">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="password" style="color: #D9740F">Password</label>
    <input id="password" type="password" th:field="*{password}" />
    <small id=“passwordRequirements” class=“form-text text-muted”>
        Password must be at least 8 characters long and contain at least (1) lowercase letter, (1) uppercase letter, (1) digit, and (1) special character (*).
    </small>

    <label for="passwordConfirm" style="color: #D9740F">Confirm Password</label>
    <input id="passwordConfirm" type="password"/>
    <span id="alert">! Your password does not match !</span>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <input type="submit" value="Sign me up!" id = "submitButton" style="visibility: hidden">
</form>
<th:block th:replace="partials/Navbar :: scripts"></th:block>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#password, #passwordConfirm').on('input', function () {
            let password = $('#password').val();
            let passwordConfirm = $('#passwordConfirm').val();

            if (password === passwordConfirm) {
                $('#submitButton').css('visibility', 'visible');
                $('#alert').css('visibility', 'hidden');
            } else {
                $('#submitButton').css('visibility', 'hidden');
                $('#alert').css('visibility', 'visible')
            }
        })
    });
</script>
</body>
</html>
