body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/aboutus.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    overflow: auto;
    height: 100%;
}

#aboutDiv {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: burlywood;
    background-color: rgba(0,0,0,0.56);
    padding: 25px;
    border-radius: 15px;
}

p {
    /*font-size: 15px;*/
    margin-top: 25px;
}

#foundersImages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom:25px ;
}

.founder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.founder-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.founder-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
html {
    overflow: hidden;
    height: 100%;
}

/* Mobile responsive styles */
@media screen and (max-width: 600px) {
    body {
        background-size: cover;
    }

    #aboutDiv {
        width: 90%;
        margin: 10px auto; /* Adjust margin as needed */
    }

    .founder {
        flex-basis: 100%; /* Full width for each founder */
    }

    .founder-image {
        width: 75px; /* Adjust size as needed */
        height: 75px;
    }
}

