body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/aboutus.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#aboutDiv {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: burlywood;
}
p{
    font-size: 15px;
}

