body {
    background-image: url("/img/review-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    height: 100%;
}
html {
    overflow: hidden;
    height: 100%;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(112, 69, 46, 0);
    backdrop-filter: blur(5px);
}

.card .card-body {
    background-color: rgba(112, 69, 46, 0.6);
    backdrop-filter: blur(10px);
}

.form-group {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: burlywood;
    color: #70452e;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    body {
        background-size: contain;
    }
}
