body {
    background-image: url("/img/bw-homepage.webp");
    background-color: #f2f2f2;
    font-family: 'Rubik Dirt', cursive;
}

main {

}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.leaderboard {
    color: #f2a767;
    display: inline-block;
    width: 100%;
    padding: 25px;
    font-size: larger;

}
#breweryTable, #passengerTable {
    background-color: white;
}
table {
    border: black solid 2px;
    box-shadow: black 2px 2px 2px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

h1 {
    color: black;
    background-color: burlywood;
    border-radius: 15px;
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;

}



th, td {
    padding: 8px;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
}

th {
    background-color: #70452e;
    color: #ffffff;
}

tbody tr:hover {
    background-color: #70452e;
}

.alternate-row {
    background-color: #70452e;
    color: #ffffff;
}

.burlywood-text {
    color: burlywood;
}

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        height: 100vh;*/
/*    }*/

/*    .leaderboard {*/
/*        margin-right: 50px;*/
/*        margin-bottom: 30px;*/
/*        width: 100%;*/
/*        max-width: 400px;*/
/*    }*/
/*}*/
