body {
    background-image: url("/img/bw-homepage.webp");
    background-color: #f2f2f2;
    font-family: 'Rubik Dirt', cursive;
    overflow: auto;
    height: 100%;
}

main {

}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.leaderboard {
    color: black;
    display: inline-block;
    width: 100%;
    padding: 25px;
    font-size: larger;

}
#breweryTable, #passengerTable {
    background-color: white;
}
table {
    border: black solid 2px;
    box-shadow: black 2px 2px 2px;
}

h2 {
    margin-top: 0;
    text-align: center;
    background-color: #666666;
    border-radius: 15px;
    color: white;
    box-shadow: black 2px 2px 2px;
}

h1 {
    color: black;
    background-color: burlywood;
    border-radius: 15px;
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
}



th, td {
    padding: 8px;
    text-align: center;
    /*border-bottom: 1px solid #ddd;*/
}

th {
    background-color: #70452e;
    color: #ffffff;
}

tbody tr:hover {
    background-color: burlywood;
}

.alternate-row {
    background-color: #70452e;
    color: #ffffff;
}

.burlywood-text {
    color: burlywood;
}
html {
    overflow: hidden;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

