/* Add your custom styles here */
body {
    font-family: 'Rubik Dirt', cursive;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

h1 {
    color: burlywood;
}

h3 {
    color: burlywood;
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: burlywood;
    color: #70452e;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

button:hover,
a:hover {
    background-color: #666;
}

/* Additional styles for favorites and wishlist */
.favorites-section {
    margin-top: 20px;
}

.wishlist-section {
    margin-top: 20px;
}

.upload-section {
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    form {
        margin-top: 10px;
    }

    button {
        padding: 8px 16px;
    }

    /* Additional styles for favorites and wishlist */
    .favorites-section {
        margin-top: 15px;
    }

    .wishlist-section {
        margin-top: 15px;
    }

    .upload-section {
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    form {
        margin-top: 5px;
    }

    button {
        padding: 6px 12px;
    }

    /* Additional styles for favorites and wishlist */
    .favorites-section {
        margin-top: 10px;
    }

    .wishlist-section {
        margin-top: 10px;
    }

    .upload-section {
        margin-top: 10px;
    }
}
