/* Global styles */
html{
    font-family: 'Rubik Dirt', cursive;
}
body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/bw-homepage.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 0;
}

/* Review card styles */
.review-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(112, 69, 46, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.review-card h3 {
    font-size: 18px;
    color: white;
}

.review-card p {
    margin-top: 5px;
    color: white;
}

.review-card button {
    margin-top: 10px;
}

.review-content {
    margin-bottom: 10px;
}

.edit-btn,
.delete-btn {
    background-color: burlywood !important;
    color: #70452e;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    .review-card {
        max-width: 90%; /* Adjust as needed */
    }
}

@media only screen and (max-width: 400px) {
    .review-card {
        max-width: 80%; /* Adjust as needed */
    }
}
