<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewQuest | About Us</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <script src="https://kit.fontawesome.com/fd863b4eca.js" crossorigin="anonymous"></script>
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/about.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<h1 style="color: burlywood">BrewQuest</h1>
<div id="aboutDiv">
    <div id="foundersImages">
        <div class="founder">
            <img class="founder-image" src="img/founder1.jpg" alt="Nicholas Hubacek">
            <div class="founder-icons">
                <a href="https://github.com/NicholasHubacek03"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/nicholas-hubacek"><i class="fa-brands fa-linkedin fa-xl" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/nicholas-hubacek/"><img th:src="@{/img/codeup-arrow_360.png}" alt="code-arrow" width="25" height="25"></a>
            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder2.jpeg" alt="Jim Olsen">
            <div class="founder-icons">
                <a href="https://github.com/Jimolson-git"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/jim-olson456"><i class="fa-brands fa-linkedin fa-xl" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/jim-olsen/"><img th:src="@{/img/codeup-arrow_360.png}" alt="code-arrow" width="25" height="25"></a>
            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder3.jpeg" alt="Xavier Francis">
            <div class="founder-icons">
                <a href="https://github.com/XavierFrancis9"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/j-xavier-francis"><i class="fa-brands fa-linkedin fa-xl" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/xavier-francis/"><img th:src="@{/img/codeup-arrow_360.png}" alt="code-arrow" width="25" height="25"></a>
            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder4.jpeg" alt="Daniel Farias">
            <div class="founder-icons">
                <a href="https://github.com/Dfarias1"><i class="fa-brands fa-github fa-xl" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/danielfarias14"><i class="fa-brands fa-linkedin fa-xl" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/daniel-farias/"><img th:src="@{/img/codeup-arrow_360.png}" alt="code-arrow" width="25" height="25"></a>
            </div>
        </div>
    </div>
    <p>Hail, warriors of BrewQuest! Prepare to embark on a legendary voyage through the vast realm of breweries and extraordinary ale flavors. Roam vibrant lands, traverse majestic landscapes, and conquer bustling cities in your relentless pursuit of the perfect pint. Our all-encompassing brewery directory unveils hidden treasures and must-visit mead halls. Stand shoulder-to-shoulder with fellow beer adventurers, share tales of triumph, and revel in the joy of exploration. Unleash your Viking spirit, set sail on an epic expedition, and forge unforgettable memories with BrewQuest as your valiant guide.</p>

    <p>Skål,</p>

    <p>The Forged Ones, BrewQuest</p>
</div>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>