<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BrewQuest | About</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <script src="https://kit.fontawesome.com/fd863b4eca.js" crossorigin="anonymous"></script>
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/about.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div id="aboutDiv">
    <h1>BrewQuest</h1>
    <div id="foundersImages">
        <div class="founder">
            <img class="founder-image" src="img/founder1.jpg" alt="Nicholas Hubacek">
            <div class="founder-icons">
                <a href="https://github.com/NicholasHubacek03"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/nicholas-hubacek"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/daniel-farias/"><i class="fa-regular fa-graduation-cap fa-xl" style="color: #17d39b;"></i></a>
            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder2.jpeg" alt="Jim Olsen">
            <div class="founder-icons">
                <a href="https://github.com/Jimolson-git"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/jim-olson456"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/daniel-farias/"><i class="fa-regular fa-graduation-cap fa-xl" style="color: #17d39b;"></i></a>

            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder3.jpeg" alt="Xavier Francis">
            <div class="founder-icons">
                <a href="https://github.com/XavierFrancis9"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/j-xavier-francis"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/daniel-farias/"><i class="fa-regular fa-graduation-cap fa-xl" style="color: #17d39b;"></i></a>
            </div>
        </div>
        <div class="founder">
            <img class="founder-image" src="img/founder4.jpeg" alt="Daniel Farias">
            <div class="founder-icons">
                <a href="https://github.com/Dfarias1"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
                <br>
                <a href="https://www.linkedin.com/in/danielfarias14"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
                <br>
                <a href="https://alumni.codeup.com/candidate/daniel-farias/"><i class="fa-regular fa-graduation-cap fa-xl" style="color: #17d39b;"></i></a>
            </div>
        </div>
    </div>
    <p>Embark on an Epic Beer Adventure!

        Welcome to BrewQuest, your gateway to an exhilarating journey through the world of breweries and extraordinary beer flavors. We are the trailblazers of beer exploration, dedicated to guiding you on a thrilling adventure that spans local, state, national, and international breweries.</p>

    <p>BrewQuest is your trusted companion, mapping out a treasure trove of breweries waiting to be discovered. Picture yourself traversing through vibrant neighborhoods, scenic landscapes, and bustling cities, all in pursuit of the perfect pint. With our comprehensive brewery directory, we provide a curated collection of local gems and renowned establishments, ensuring that you never miss an opportunity to savor exceptional brews.</p>

    <p>Whether you're a seasoned beer traveler or a novice explorer, BrewQuest equips you with the tools and knowledge to make each journey unforgettable. Our platform offers a comprehensive brewery database, complete with detailed profiles, tasting notes, and insider recommendations. Let us be your compass, guiding you to hidden gems, iconic landmarks, and must-visit destinations on your beer-centric expeditions.</p>

    <p>But BrewQuest is more than just a mapping service; we are a community of intrepid beer adventurers. Share your experiences, connect with fellow travelers, and exchange stories of unforgettable brewery encounters. Our forums and social channels buzz with excitement as enthusiasts from around the globe come together to celebrate the joy of exploration and the artistry of brewing.</p>

    <p>To further enhance your beer adventure, BrewQuest organizes exclusive events, tours, and beer festivals that showcase the best of the brewing world. Immerse yourself in local cultures, meet renowned brewers, and sample a diverse range of flavors, all while building lasting connections with fellow beer enthusiasts. We are your passport to extraordinary experiences that go beyond the tasting glass.</p>

    <p>Join us at BrewQuest and let the adventure begin. From hidden local treasures to renowned international breweries, we invite you to embark on a thrilling expedition where every sip tells a story. Uncover new flavors, expand your palate, and make memories that will last a lifetime with BrewQuest as your trusted guide.</p>

    <p>Cheers,</p>

    <p>The Founders, BrewQuest</p>
</div>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>