<!DOCTYPE html>
<html>
<head>
    <title>BrewQuest | Friends</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
</head>
<body>
<h1>BrewBuddies</h1>
<ul>
    <!-- Iterate over the friends and display their names -->
    <th:block th:each="friend : ${friends}">
        <li>
            <a th:href="@{/profile/{id}(id=${friend.friend.id})}">
                <span th:text="${friend.friend.username}"></span>
            </a>
        </li>
    </th:block>
</ul>
</body>
</html>
