<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div id="scroll-parent" class="container-fluid">
    <!--    <div class = "row">-->
    <!--    <div class="flag">-->
    <div class="row">
        <div class="col">
            <div class="flag"></div>
        </div>
        <div class="col scroll-element primary">
            <div class="card">Card 1</div>
            <div class="card">Card 2</div>
            <div class="card">Card 3</div>
            <div class="card">Card 4</div>
            <div class="card">Card 5</div>
            <div class="card">Card 6</div>
            <div class="card">Card 7</div>
            <div class="card">Card 8</div>
            <div class="card">Card 9</div>
            <div class="card">Card 10</div>
        </div>
                    <div class="row scroll-element secondary">
                <div class="card">Card 11</div>
                <div class="card">Card 12</div>
                <div class="card">Card 13</div>
                <div class="card">Card 14</div>
                <div class="card">Card 15</div>
                <div class="card">Card 16</div>
                <div class="card">Card 17</div>
                <div class="card">Card 18</div>
                <div class="card">Card 19</div>
                <div class="card">Card 20</div>
                    </div>
    </div>
</div>
<!--</div>-->

<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>

