<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewQuest | Home</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div class="intro">
    <h1 th:fragment="header">Welcome to BrewQuest!</h1>
        <p>Where taste and discovery intertwine! Embark on an unforgettable journey through the world of brewing, where captivating aromas and flavors await. Let us guide you in unlocking the secrets of exceptional beverages, whether you're a seasoned connoisseur or a curious novice. Prepare for an adventure that awakens your senses and leaves you with a deep appreciation for the art and science of brewing. Cheers to the start of your BrewQuest!</p>
</div>
<div class="wrapper">
    <div class="cols">
        <th:block th:each="brewery :${breweries}">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front">
                        <div class="inner">
                            <h4 th:text="${brewery.name}"></h4>
                            <p style="font-size: smaller">
                                <span th:text="${brewery.city}"></span>
                                <span th:text="', ' + ${brewery.state}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a th:href="@{/brewery/{id}(id=${brewery.id})}"><button>View Details</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>
