<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <th:block th:replace="partials/header :: font"></th:block>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div class="container">
    <div class="col">
        <div class="flag"></div>
    <div class="carousel">
        <th:block th:each="brewery :${breweries}">
                <div class="carousel__face">
                    <a th:href="@{/brewery/{id}(id=${brewery.id})}">
                    <h3 th:text="${brewery.name}"></h3>
                    <p th:text="${brewery.street}"></p>
                    <p th:text="${brewery.city}"></p>
                    <p th:text="${brewery.state}"></p>
                    </a>
                </div>
        </th:block>
    </div>
    </div>
</div>

<th:block th:replace="partials/Navbar :: scripts"></th:block>
</body>
</html>
