<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewQuest | Confirm Age</title>
    <link rel="icon" type="image/x-icon" href="/img/brewquest-logo.png">
  <th:block th:replace="partials/header :: font"></th:block>
 <link rel="stylesheet" th:href="@{/css/landing.css}" type="text/css">
  <script type="text/javascript" th:src="@{/keys.js}"></script>
</head>
<body>
<div class="card">
  <h1><span class="white-text">ARE YOU</span> <span class="red-text">21?</span></h1>
  <br>
  <a href="/home"><button class="white-button">YES</button></a><br>
  <a href="https://www.liquor.com/best-nonalcoholic-beers-5078321"><button class="red-button">NO</button></a>
</div>
<div id="breweries"></div>
<script>
  console.log(MAPBOX_TOKEN)
</script>
</body>
</html>