<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Leaderboards</title>
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/leaderboard.css}" type="text/css">
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div class="container">
    <div class="leaderboard" id="breweryLeaderboard">
        <h2>Brewery Leaderboard</h2>
        <table id="breweryTable">
            <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <!-- Brewery leaderboard rows will be dynamically added here -->
            </tbody>
        </table>
    </div>

    <div class="leaderboard" id="passengerLeaderboard">
        <h2>Driver Leaderboard</h2>
        <table id="passengerTable">
            <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <!-- Passenger leaderboard rows will be dynamically added here -->
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
<script src="leaderboard.js"></script>
</body>
</html>