<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Reviews</title>
    <meta charset="UTF-8"/>
    <title>Review Page</title>
    <th:block th:replace="partials/header :: font"></th:block>
    <link rel="stylesheet" th:href="@{/css/reviewpage.css}" type="text/css">
    <th:block th:replace="partials/Navbar :: styles"></th:block>
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<main>
    <h1 style="color: #ffffff">My Reviews</h1>

    <div th:if="${reviews.empty}">
        <p>No reviews found.</p>
    </div>
    <div class="button-containerb">
    <div th:each="review : ${reviews}" class="review-card">
        <h2 class="brewName" th:text="${review.breweryId}"></h2><hr>
        <h3 th:text="${'&quot;' + review.getDescription() + '&quot;'}"></h3>
        <p>Description: <span th:text="${review.rating}"></span></p>

        <form th:action="@{/review/{id}/edit(id=${review.id})}" method="get">
            <button class="edit-btn" type="submit">Edit</button>
            <input type="hidden" name="reviewId" th:value="${review.id}" />
        </form>
        <form action="#" th:action="@{/review/{id}/delete(id=${review.id})}" method="post">
            <button class="delete-btn" type="submit">Delete</button>
        </form>
    </div>
    </div>
</main>
<th:block th:replace="partials/Navbar :: scripts"></th:block>
<script>
    let brewnames = document.getElementsByClassName("brewName");
    for(let i =0; i < brewnames.length; i++) {
        let id = brewnames[i].innerHTML
        console.log(brewnames[i].innerHTML)
        fetch('https://api.openbrewerydb.org/v1/breweries?by_ids=' + id)
            .then(response => response.json())
            .then(data => {
                console.log(data); // You can process the retrieved data here
                brewnames[i].innerHTML = data[0].name;
            })
            .catch(error => {
                console.log('Error:', error);
            });

    }
</script>
</body>
</html>
