<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Display a map on a webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script th:src="@{/js/keys.js}"></script>
    <link th:fragment="styles" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <th:block th:replace="partials/Navbar :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 60px;
            bottom: 0;
            right: 450px;
            width: 100%;
        }

        #barofsearch {
            position: absolute;
            padding-top: 10px;
            right: 125px;
        }

        #searchcards {
            position: absolute;
            right: 450px;
        }


    </style>
</head>
<body>
<nav th:replace="~{partials/Navbar::navbar}"></nav>
<div id="barofsearch">
    <th:block th:replace="partials/searchBar.html :: searchBar"></th:block>
</div>

<div id="map"></div>

<div id="searchcards">
    <div class="card">Card 1</div>
    <div class="card">Card 2</div>
    <div class="card">Card 3</div>

</div>


<script>


    mapboxgl.accessToken = MAPBOX_TOKEN;
    const map = new mapboxgl.Map({
        container: 'map', // container ID
// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });

</script>


</body>
</html>